<h1> here are your shops</h1>

<% @shops.each do |shop|%>
  <%= shop.name %>
  <%= shop.address %>
  <%= shop.city %>
  <%= shop.image %>
<%end %>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= shop.name%>');" data-shop-id="<%= shop.id %>">
  <h1><%= shop.name %></h1>
</div>
